*{
    margin:0;
    padding:0px;
    font-family: Helvetica,Arial,sans-serif;
}

.icon {
    width: 10px; height: 10px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

body{
    background-color: darkgray;
    height:100vh;
    background-image: url(./img/wall.png);
    background-repeat: no-repeat;
    background-size: cover;  
    display: flex;
    justify-content: center; 
    align-items:center;
}
main{
    padding:20px 10px;
    background-color:rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center; 
    align-items:center;
   flex-wrap: wrap;
   max-width: 1100px;

}
main .row{
    margin:10px;  
 
}

kba{
    font-family:  Helvetica Tahoma, sans-serif;
    border:1px solid #373737; 
    font-size:20px;
    margin:0 10px; 
    background: linear-gradient(to bottom, #292929 0%,#011111 100%);
    color: #c5c5c5; 
    width: 47px;
    height:69px;
    padding: 0 12px;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0 0 0 1px #1a1b1c,0 0 0px 2px #1f2020,0 2px 0 2px #080808;
    position: relative;
    cursor: default;
}
.edit{
    font-size:10px;
    position: absolute;
    bottom:0;
    right:0;
    display: none;
    
}

kba:hover  .edit{
    display:block;
    cursor: pointer;
}
.fadeOut{
    display: none;
}
.fade{
    
    position: absolute;
    right:20px;
}

.fade button{
    font-family:  Helvetica Tahoma, sans-serif;
    font-size: 16px;
    width: 65px;
    height:45px; 
    border: none;
    cursor: pointer;
    color: white;
    background-color:rgb(124, 114, 231);
    border-radius: 15px;
    outline: none;
}
.fade button:hover{
    background-color:rgb(164, 158, 238);
}
img{
    width: 20px;
    height:20px;
    border-radius: 10%;
    position: absolute;
    bottom:0;
    left:0;
}

.footer{
    position: absolute;
    bottom: 10px;
    right:50px;
    display: flex;
    justify-content: flex-end;  
    width: 100%;
}
.icon{
    width: 40px;
    height: 90px;
    fill: white;
    margin-right: 28px;
}

.footer ul li{
    list-style: none;
    float: left;
}
#hide{
    float: left;
   display: none;
}

.footer ul li:nth-child(1):hover #hide{
    display: block;
}
.cuPrompt{
    position: fixed;
    background-color: rgb(254, 254, 254);
    border-radius: 4px;
}
.cuPrompt button{
  border: none;
  background: #09d;
  color: white;
  padding: 10px 20px;
}
.urlDiv{
/* 
    width: 100%; */
    padding:20px;
}
.urlDiv::before{
    content: "websit：";

    display: block;
    margin-bottom: 10px;
}
.urlDiv > input {
    padding: 6px 12px;
    border-radius: 4px;
    box-shadow: none;
    border: solid 1px #ccc;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    display: block;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.selectDiv{
    display:flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-right: 10px;
}
.selectDiv > button:nth-child(1){
margin-right:20px;
}


.selectDiv > button:nth-child(1):hover{

    background-color: #08c;
}

.selectDiv > button:nth-child(2){
    border: solid 1px #ddd;
    background: white;
    font-family: inherit;
    font-size: inherit;
    color: #888;
    border-radius: 4px;
    padding: 6px 12px;
    margin-left: 4px;
    cursor: pointer;
}

.selectDiv > button:nth-child(2):hover{
    background-color: #f2f2f2;
}